# =============================
# Email config

# For development or quick testing use console as the email backend
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
# For production use smtp, uncomment the below variable
# EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_FROM_ADDRESS="Dj LMS <youremail@example.com>"
EMAIL_HOST_USER="<youremail@example.com>"
EMAIL_HOST_PASSWORD="<your email password>"

# =============================
# Other

DEBUG=True
SECRET_KEY="<your_secret_key>"