{% extends 'registration/registration_base.html' %}
{% block title %}Learning Management System - Login{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="col-md-4 mx-auto mt-5">
  <div class="card">
    <div class="form-title">
      <i class="fas fa-lock me-2"></i>
      Sign in
    </div>
    <div class="card-body">
        <form action="" method="POST" id="login-form">{% csrf_token %}
          <div class="form-group mb-3">
              <label class="mb-2" for="username_id"><i class="fas fa-address-card me-2"></i>ID Number</label>
              <input type="text" name="username" id="username_id" class="form-control" required>
              <div id="message-wrapper"></div>
          </div>
          <div class="form-group mb-3">
              <label class="mb-2" for="password_id"><i class="fas fa-key me-2"></i>Password</label>
              <input type="password" name="password" id="password_id" class="form-control" required>
          </div>
          {% if form.errors %}
                <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Invalid ID & Password.</span><br>
          {% endif %}
      
          <button type="submit" class="btn btn-primary" id="login-btn"><small>SIGN IN</small></button> or 
          <button type="button" class="btn btn-primary" id="register-btn"><small>JOIN NOW</small></button>
        </form>
        <br>
        <div class="login-bottom">
          <a href="{% url 'password_reset' %}" class="link">Forgot password ?</a>
        </div>
      </div>
  </div>
</div>
{% endblock content %}


{% block js %}
<script src="{% static 'js/customized.js' %}">
</script>
{% endblock js %}
