{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Reset | Learning management system' %}{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'Password Reset' %}</h3>

  <form action="" method="POST" class="form-box">{% csrf_token %}
    <div class="container">
      <!-- {{ form|crispy }} -->
    <div class="form-group">
      <i class="fas fa-envelope"></i>{% trans 'Email' %} {{ form.email }}
      <span class="danger">{{ form.email.errors }}</span>
    </div>
    </div>
    <button type="submit" class="btn btn-primary"><small>{% trans 'Request Password Reset' %}</small></button>
  </form>
</div>
{% endblock content %}
