{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Email Sent | Learning management system' %}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'Email sent' %}</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>{% trans 'An Email has been sent with instructions
      to reset your password, check your email.' %}
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>{% trans 'Back To Login' %}</a>
  </div>
</div>
{% endblock content %}
