{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Reset Complete | Learning management system' %}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'Password Reset Complete' %}</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>{% trans 'Your password has been set, you are now able to Log In!' %}
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">{% trans 'Sign In Here' %}</a>
    </div>
</div>
{% endblock content %}
