{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Learning management system' %}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'student_list' %}">{% trans 'Students' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Update' %}</li>
    </ol>
</nav>

<h4 class="fw-bold mb-3"><i class="fas fa-cog me-2"></i>{% trans 'Student Update Form' %}</h4>

{% include 'snippets/messages.html' %}

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <p class="form-title">{% trans 'Email' %} &amp; {% trans 'Personal Info' %}</p>

                <div class="card-body">
                    {{ form.email|as_crispy_field }}
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.gender|as_crispy_field }}
                    {{ form.phone|as_crispy_field }}
                    {{ form.address|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <p class="form-title">{% trans 'Others' %}</p>
                <div class="card-body">
                    {{ form.picture|as_crispy_field }}
                </div>
            </div>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}">
</form>
{% endblock content %}
