{% extends 'base.html' %}
{% block title %}{{ title }} | Learning management system{% endblock title %}

{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Home</a> Students</div>

{% if request.user.is_superuser %}
<div class="manage-wrap">
    <a class="btn btn-primary" href="{% url 'add_student' %}"><i class="fas fa-plus"></i>Add Student</a>
</div>
{% endif %}

<div class="title-1"><i class="fas fa-user-graduate"></i>Students</div>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="content-center">
    <form class="search-form" action="" method="get">
        {{ filter.form }}
        <button class="btn btn-light" type="submit">
            <i class="fas fa-search"></i> Filter
        </button>
    </form>
</div>
<!-- <form class="search-form">
    <ul>
        <li class="space-between"><input class="form-control" type="text" name="name" placeholder="Name"></li>
        <li class="space-between"><input class="form-control" type="text" name="email" placeholder="Email"></li>
        <li class="space-between"><input class="form-control" type="text" name="course" placeholder="Course"></li>
        <button class="search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </ul>
</form> -->

<div class="table-responsive table-shadow table-light table-striped m-0 mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th> ID No. </th>
                <th> Full Name </th>
                <th> Email </th>
                <th> Program </th>
                {% if request.user.is_superuser %}
                <th> Action </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for student in filter.qs %}
            <tr>
                <td> {{ forloop.counter }}.</td>
                <td>{{ student.student.username }} </td>
                <td><a href="{% url 'profile_single' student.student.id %}">{{ student.student.get_full_name }}</a></td>
                <td>{{ student.student.email }} </td>
                <td>{{ student.program }}</td>

                {% if request.user.is_superuser %}
                <td>
                    <div class="update-delete">
                        <a href="{% url 'student_edit' student.student.pk %}" class="update" title="Edit"><i class="fas fa-edit"></i></a>
                        <form action="{% url 'student_delete' student.pk %}">{% csrf_token %}
                            <button type="submit" class="btn btn-sm" title="Delete"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </td>
                {% endif %}
                
                {% empty %}
                <tr>
                  <td colspan="6">
                  <span class="text-danger">
                    No Student.
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_student' %}">
                    <i class="primary" style="font-size: 22px;">
                       Add Student Now.
                    </i>
                    {% endif %}
                    </a>
                  </span>
                </td>
                </tr>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
