<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<style>
.w3-container {
  font-size: 14px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
</style>

<div class="center">
  <h3 class="donate">
    <div class="w3-card-4">

    <header class="w3-container w3-blue">
    <h1>DONATE</h1>
    </header>

    <div class="w3-container">
    <p>Donate for a great cause. Be a hero.</p>

    <!-- PAYPAL BUTTONS HERE -->


    </div>

    <footer class="w3-container w3-blue">
    <h5>&copy Professional Cipher</h5>
    </footer>

    </div>
  </h3>
</div>

</body>
