{% extends 'base.html' %}
{% block title %}{{ title }} | Learning management system{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin Panel</li>
    </ol>
</nav>  

<div class="title-1"><i class="fas fa-user-tie"></i>Admin Panel</div>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="border-bottom">
                Manage<a class="link" href="{% url 'lecturer_list' %}"> Lecturers &raquo;</a>
                <p class="text-muted">CRUD (Create, Retrieve, Update &amp; Delete) lecturers</p>
            </div>

            <div class="border-bottom mt-3">
            Manage<a class="link" href="{% url 'student_list' %}"> Students &raquo;</a>
            <p class="text-muted">CRUD (Create, Retrieve, Update &amp; Delete) students</p>
            </div>

            <div class="border-bottom mt-3">
            Manage<a class="link" href="{% url 'session_list' %}"> Session &raquo;</a>
            <p class="text-muted">CRUD (Create, Retrieve, Update &amp; Delete) sessions</p>
            </div>

            <div class="mt-3">
            Manage<a class="link" href="{% url 'semester_list' %}"> Semester &raquo;</a>
            <p class="text-muted">CRUD (Create, Retrieve, Update &amp; Delete) semesters</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border-bottom">
                Course Add &amp; Drop
                <label class="switch switch-text switch-success switch-pill" style="float: right;">
                <input type="checkbox" class="switch-input" checked="true">
                <span data-on="On" data-off="Off" class="switch-label"></span>
                <span class="switch-handle"></span>
                </label>
                <p class="text-muted">Switch 
                    <i class="info-text py-0 px-2 bg-success text-light">ON</i> or <i class="info-text py-0 px-2 bg-danger text-light">OFF</i>
                </p>
            </div>

            <div class="border-bottom mt-3">
                Manage<a class="link" href="{% url 'programs' %}"> Programs &amp; Courses &raquo;</a>
            <p class="text-muted">CRUD (Create, Retrieve, Update &amp; Delete) programs</p>
            </div>

            <div class="border-bottom mt-3">
            Manage<a class="link" href="{% url 'course_allocation_view' %}"> Course Allocations &raquo;</a>
            <p class="text-muted">CRUD (Create, Retrieve, Update &amp; Delete) course allocations</p>
            </div>

            <div class="mt-3">
            Manage<a class="link" href="{% url 'home' %}"> News &amp; Events &raquo;</a>
            <p class="text-muted">CRUD (Create, Retrieve, Update &amp; Delete) News &amp; Events</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
