
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert py-2 alert-danger">
                <i class="fas fa-exclamation-circle me-2"></i>{{ message }}
            </div>
        {% elif message.tags == 'warning' %}
            <div class="alert py-2 alert-warning">
                <i class="fas fa-exclamation-circle me-2"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert py-2 alert-success">
                <i class="fas fa-check-circle me-2"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
