{% extends 'registration/registration_base.html' %}
{% block title %}Password Reset Complete | DjangoSMS{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Password Reset Complete</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>Your password has been set, you are now able to Log In!
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">Sign In Here</a>
    </div>
</div>
{% endblock content %}
