{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'programs' %}">Programs</a></li>
        <li class="breadcrumb-item"><a href="{% url 'program_detail' class_instance.course.program.id %}">{{ class_instance.course.program }}</a></li>
        <li class="breadcrumb-item"><a href="{{ class_instance.course.get_absolute_url }}">{{ class_instance.course }}</a></li>
        <li class="breadcrumb-item"><a href="{{ class_instance.get_absolute_url }}">{{ class_instance }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'quiz_index' class_instance.class_id %}">Quizzes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quiz Form</li>
    </ol>
</nav>

<div class="title-1">Quiz form for {{ class_instance.course|truncatechars:15 }}</div>
<br><br>

<div class="container">
    <form action="{% url 'quiz_create' class_instance.class_id %}" method="POST">{% csrf_token %}
        {{ form.class_model }}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        {{ form.category|as_crispy_field }}
                        {{ form.title|as_crispy_field }}
                        {{ form.pass_mark|as_crispy_field }}
                        {{ form.description|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        {{ form.random_order|as_crispy_field }}
                        {{ form.answers_at_end|as_crispy_field }}
                        {{ form.exam_paper|as_crispy_field }}
                        {{ form.single_attempt|as_crispy_field }}
                        {{ form.draft|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary my-4" type="submit">Save &amp; Continue</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script>
    const transitionButton = document.getElementById('btn-transition');
    transitionButton.addEventListener('click', () => {
        document.getElementById('card-transition').style.animation = 'card-transition 5s ease-in-out forwards';
    });
</script>
{% endblock js %}
