{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}DjangoSMS{% endblock title %}</title>

    <!-- <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/black.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- <script src="https://js.stripe.com/v3/"></script> -->
    {% block header %}{% endblock %}
</head>

<body>
    {% include 'aside.html' %}
    <div id="main">
        {% include 'navbar.html' %}

        <div class="container-fluid" id="main-content">
            {% block content %}{% endblock content %}
        </div>

    </div>

    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.au-input').focus(function () {
                $('#top-navbar').attr('class', 'dim');
                $('#side-nav').css('pointer-events', 'none');
                $('#main-content').css('pointer-events', 'none');
            });
            $('.au-input').focusout(function () {
                $('#top-navbar').removeAttr('class');
                $('#side-nav').css('pointer-events', 'auto');
                $('#main-content').css('pointer-events', 'auto');
            });
        })
    </script>

    {% block js %}
    {% endblock js %}
</body>

</html>

<!-- {% if request.user.is_superuser %}
    <a href="{% url 'admin_panel' %}" class="text-orange"><i class="fas fa-user-tie"></i> Admin Panel</a>
{% endif %} -->

<!-- <div class="drop-down" id="drop-down">
    
    <a href="#">
        <img class="profile-pic" src="{{ request.user.picture.url }}">
        {{ request.user.get_full_name|truncatechars:15 }}<i class="fas fa-angle-down ml-2"></i>
    </a>
    
    <div class="content" id="content">
        <p class="container text-muted-xs text-center"> Last login: {{ request.user.last_login|date }}</p>
        <div class="content-a">

            {% if request.user.is_lecturer or request.user.is_student %}
            <a href="{% url 'user_course_list' %}"><i class="fas fa-book"></i>My Courses</a>
            {% endif %}

            {% if request.user.is_superuser %}
            <a href="{% url 'admin_panel' %}"><i class="fas fa-user-tie"></i>Admin Panel</a>
            {% endif %}

            <a href="{% url 'profile' %}"><i class="fas fa-user"></i>Profile</a>

            <a href="{% url 'edit_profile' %}"><i class="fas fa-cogs"></i>Setting</a>
            
        </div><hr>
        <div class="sign-out">
            <a href="{% url 'logout' %}" class="btn btn-light">
                <i class="fas fa-sign-out-alt"></i>Signout
            </a>
        </div>
    </div>
</div> -->